@model IEnumerable<HRTask.Models.EmployeeAttendance>

@{
    ViewData["Title"] = "EmployeeAttendance";
}

<h1>EmployeeAttendance</h1>

<p>
    <a asp-action="AddEmployeeAttendance" asp-route-empId="@ViewBag.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfAttendance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfLeave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDayOff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfAttendance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfLeave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDayOff)
            </td>
            <td>
                    <a asp-action="DeleteEmployeeAttendance" asp-route-EmpAttendId="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
